/**menu**/
.menu{
    background-image: url("logo_Montessori_rectangle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 94%;
}
.name{
    position: relative;
    left: 1%;
    top: 50%;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    display: inline;
}
.cvtitle{
    position: relative;
    font-size: 150%;
    display: inline;
    left: 1%;
    top: 50%;
}
.lien{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bolder;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.exp{
    background-color: #dd1b1b;
    position: relative;
    top: 100px;
    left:40%;
    width: 27%;
    margin-left:30%;
    border: 5px solid rgba(0, 0, 0);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size:150%;
}
.stud{
    background-color: #26b94b;
    position: relative;
    top: 100px;
    right:25%;
    width: 27%;
    margin-left:34%;
    border: 5px solid #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 150%;
}
.qual{
    background-color: #ffffff;
    position: relative;
    top: 100px;
    width: 27%;
    margin-left:38%;
    border: 5px solid #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 150%;
}
.motv{
    background-color: #d42d2d;
    position: relative;
    top: 100px;
    left:32%;
    width: 27%;
    margin-left: 42%;
    border: 5px solid #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 150%;
}
.hobbie{
    background-color: #47d12c;
    position: relative;
    top: 100px;
    right:10%;
    width: 27%;
    margin-left: 42%;
    border: 5px solid #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 150%;
}
/**motivations**/
.motivation{
    background-image: url("ecole-Montessori.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.motivationtitle{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #000000;
}
.listemotv{
    background-color: #877e46;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    border: 5px solid #000;
    position: relative;
    margin-top: 7%;
}
.elli{
    text-align: left;
    font-size: 30px;
}
/**Qualités**/
.qualite{
    background-image: url("point-d-interrogation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.qualitetitle{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #000000;
}
.listequalite{
    background-color: #cdb85b;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    border: 5px solid #000;
    position: relative;
}
/**études**/
.etude{
    background-image: url("intelligence-artificielle-revolution-1080x675.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.etudetitle{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #000000;
}
.listeetude{
    background-color: #4a919c;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 30px;
    border: 5px solid #000;
    position: relative;
    margin-top: 9%;
}
/**Experience profesionnel**/
.exppro{
    background-image: url("39.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.expprotitle{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #000000;
}
.listeexppro{
    background-color: #38acae;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    border: 5px solid #000;
    position: relative;
    margin-top: 9%;
}
/**Loisirs**/
.loisirs{
    background-image: url("1895648-point-d-interrogation-sur-tableau-fond-vecteur-vectoriel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.loisirstitle{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #000000;
}
.loisirsintro{
    background-color: rgb(74, 77, 80);
    display: inline;
}
.judo{
    background-color: rgb(211, 222, 232);
    display: inline;
}
.texteloisirs3{
    display: inline;
}
.picchess{
    width: 30%;
    height: 30%;
    position: relative;
    /**top: -60px;**/
    left: 65%;
}
.chess{
    background-color: rgb(211, 222, 232);
    width: 60%;
    position: relative;
    border: #000;
    /**top: 70px;**/
}
.voiture{
    background-color: rgb(211, 222, 232);
    width: 60%;
    position: relative;
    left: 30%;
}
.leibniz{
    background-color: rgb(211, 222, 232);
    background-size: 60%;
    width: 40%;
    position: relative;
    /**top: 100px;**/
}
.picleib{
    width: 50%;
    height: 50%;
    position: relative;
    left: 50%;
    /**top: -115px;**/
}
.arduino{
    background-color: rgb(211, 222, 232);
    background-size: 60%;
    width: 40%;
    position: relative;
    left: 10%;
    top: 10%;
}
video{
    width: 30%;
    height: 30%;
    /**position: relative;**/
    /**top: -100px;**/
}
.video{
    width: 20%;
    position: relative;
    right: 25%;
    /**top: -400px;**/
}
/**Details**/
.exp:hover{
    border-top: 5px solid #cd7421;
    background-color: rgb(182, 187, 92, 0.15);
}
.stud:hover{
    border-top: 5px solid #cd7421;
    background-color: rgb(182, 187, 92, 0.15);
}
.qual:hover{
    border-top: 5px solid #cd7421;
    background-color: rgb(182, 187, 92, 0.15);
}
.motv:hover{
    border-top: 5px solid #cd7421;
    background-color: rgb(182, 187, 92, 0.15);
}
.hobbie:hover{
    border-top: 5px solid #cd7421;
    background-color: rgb(182, 187, 92, 0.15);
}
.a:hover{
    color: #489f48;
}
.main{
    display: block;
}
.a{
    color: #300ce1;
}